<div id="third-card" class="card border-dark m-2 text-center text-md-start">
    <div id="conocimientos">
        <h5 class="card-title m-3 fw-bold fs-1 pb-lg-3">Conocimientos</h5>
        <div id="front-end-developer" class="p-4 d-md-flex align-content-center">
            <img id="front-end-logo" class="img-fluid" src="../../assets/front-end_logo.png" alt="Logo front-end">
            <div id="front-end-info" class="ms-3 text-md-center">
                <p class="card-text mt-3 fs-3 fw-bold">Front-end Developer</p>
                <ul class="card-text text-start fs-5 fw-bolder" style="line-height: 25px;">
                    <li>Conocimientos en la mayoria de las etiquetas de HTML5.</li>
                    <li class="mt-2">Propiedades de CSS3 - Grid - Flexbox.</li>
                    <li class="mt-2">Control y manejo del DOM mediante JavaScript.</li>
                </ul>
            </div>
        </div>
        <div id="bootstrap-framework" class="p-4 d-md-flex align-content-center">
            <img id="bootstrap-logo" class="img-fluid ms-lg-5" src="../../assets/booststrap-logo.png" alt="Bootstrap logo">
            <div id="bootstrap-info" class="p-3 text-md-center d-md-inline-block">
                <p class="card-text mt-4 fs-3 fw-bold mt-lg-5">Bootstrap Framework</p>
                <p class="card-text fs-5 fw-bolder" style="line-height: 25px;">
                    Conocimiento de las propiedades y distintos layouts que Bootstrap provee
                    para un rápido y facil desarrollo web responsivo.
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div id="eduacion">
        <h5 class="card-title m-3 fw-bold fs-1">Educación</h5>
        <div class="p-4 d-md-flex">
            <a href="http://fcyt.uader.edu.ar/web/"><img id="fcyt-logo" class="img-fluid" src="../../assets/fcytuaderlogo.png" alt="FCyT logo"></a>
            <div>
                <p class="card-text mt-2 fs-3 fw-bold" style="line-height: 25px;">FCyT - Facultad de Ciencias y Tecnología</p>
                <p class="card-text fw-bolder">Analista en Sistemas - Licenciatura en Sistemas</p>
                <p class="card-text text-muted fs-5 fw-bolder">2019 - Actualidad</p>
            </div>
        </div>
        <div class="p-4 d-md-flex">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
                <img id="arg-prog-logo" 
                class="img-fluid" 
                src="../../assets/argentina_programa_logo.png" 
                alt="Argentina programa logo">
            </a>
            <div>
                <p class="card-text mt-2 fs-3 fw-bold">Argentina Programa</p>
                <p class="card-text mt-2 mb-4 fs-3 fw-bold">Desarrollo Web FullStack</p>
                <p class="card-text fw-bolder">Desarrollo Front-end - Back-end - Bases de Datos</p>
                <p class="card-text text-muted fs-5 fw-bolder">2022 - 2022</p>
            </div>
        </div>
    </div>
</div>
