<div id="second-card" class="card border-dark m-2 p-3 text-center d-flex">
    <div class="btn-edit position-absolute align-self-end">
        <button id="ad-btn-pen" class="rounded bg-white border-0">
            <i class="btn-scale fa fa-pen text-dark"></i>
        </button>
    </div>
    <div class="btn-edit position-absolute align-self-end">
        <button id="ad-btn-done" class="rounded bg-white border-0 visually-hidden">
            <i class="btn-scale fa-solid fa-check text-dark"></i>
        </button>
    </div>
    <h5 class="card-title fw-bold fs-1 text-md-start">Acerca de</h5>
    <p id="ad-info" class="card-text lh-sm text-xl-start">
        Estudiante de Analisis en Sistemas y Licenciatura en Sistemas. Estudiante de Desarrollo web FullStack
        del curso Argentina Programa.
    </p>
    <textarea id="ad-area" class="visually-hidden" name="ad-area" id="ad-area" cols="30" rows="8"></textarea>
</div>
