<div id="first-card" class="card border-dark m-2 text-center text-md-start">
    <img src="../../assets/cover_img.jpg" class="card-img" alt="Portada">
    <div class="card-img-overlay d-md-flex justify-content-between">
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-center justify-content-md-start ms-md-4">
                <img id="profile-img" 
                class="img-fluid rounded-circle" 
                src="../../assets/myimg.jpeg" 
                alt="Mi foto" 
                style="max-height: 175px;max-width: 175px;">
                <div class="btn-edit align-self-end">
                    <button id="img-edit-btn" class="rounded bg-white border-0">
                        <i class="btn-scale fa fa-pen text-dark"></i>
                    </button>
                </div>
            </div>
            <div class="d-flex flex-column ms-md-4">
                <h5 class="card-title mt-3 fw-bold fs-1">Ramiro Larrea</h5>
                <p class="card-text pt-1">Estudiante en UADER y Argentina Programa</p>
                <p class="card-text ">Entre Ríos (Argentina) <a href="#">Información de contacto</a></p>
                <div id="profile-btns">
                    <button type="button" class="btn btn-primary me-2">Tengo interés en</button>
                    <button type="button" class="btn border-1 border-dark me-2">Añadir Sección</button>
                    <button type="button" class="btn border-1 border-dark">Más</button>
                </div>
            </div>
        </div>
        <div class="d-md-flex flex-column align-self-end">
            <a href="http://fcyt.uader.edu.ar/web/">
                <img id="fcyt-logo" 
                class="img-fluid" 
                src="../../assets/fcytuaderlogo.png" 
                alt="FCyT logo" 
                style="max-width: 200px;max-height: 200px;">
            </a>
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
                <img id="arg-prog-logo" 
                class="img-fluid" 
                src="../../assets/argentina_programa_logo.png" 
                alt="Argentina programa logo"
                style="max-width: 200px;max-height: 200px;">
            </a>
        </div>
    </div>
</div>
